h1 {
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;

  color: rgb(255, 255, 255);
}
h4 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: lighter;

  color: rgb(255, 255, 255);
  margin-top: 0%;
}
h2 {
  color: #ffffff;
}

header {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 5px 5px;
  background-image: url(picture/liquid-cheese.png);
  background-size: cover;
  background-repeat: no-repeat;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);

  padding: 10px 10px;
}
nav {
  margin-bottom: 0px;
}

.image-container {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the container's height as needed */
  perspective: 800px; /* Adjust the perspective for 3D effect */
}
div {
  background-image: url(picture/liquid-cheese.png);
}
article {
  border: 1px solid;
}

.rotating-image {
  width: 200px;
  height: 200px;
  margin: 0 5px; /* Add spacing between the images */
  animation: rotateChain 6s linear infinite; /* Define the rotation animation */
  transform-style: preserve-3d; /* Enable 3D transform */
}

@keyframes rotateChain {
  0% {
    transform: rotateY(0deg); /* Rotate the image at the start */
  }
  100% {
    transform: rotateY(360deg); /* Rotate the image 360 degrees */
  }
}

.content-container {
  display: flex; /* Use flexbox to align elements in the same line */
  align-items: center; /* Vertically center-align items */
}

p {
  flex: 1; /* Allow the paragraph to take up remaining space */
}

video {
  width: 50%; /* Adjust the width as needed */
  height: auto; /* Maintain the video's aspect ratio */
  margin-right: 20px; /* Add spacing between the video and paragraph */
}

form {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  border: 1px solid;
  margin: 20px 80px;
  background-image: url(picture/liquid-cheese.png);
}

input {
  width: 500px;
  margin-bottom: 10px;
}
textarea {
  width: 500px;
  margin-bottom: 10px;
}
.send {
  width: 80px;
}
p {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 10px;
}
footer {
  text-align: center;
}
